.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo:hover {
        filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
        transition: all 0.3s;
    }
}
.menu {
    margin-right: 70px;

    &__list {
        display: flex;
    }

    &__item + &__item:not(::last-chiild) {
        padding: 10px;
    }

    &__link {
        padding: 43px 20px;
        text-transform: uppercase;
        &:hover {
            background-color: $TXT_MAIN;
            color: $TXT_HOVERED;
            transition: all 0.4s;
        }
    }
}
